div {
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
}

.flex-container {
    height: 400px;
    display: flex;
    flex-wrap: wrap-reverse;
    align-content: space-around;
    justify-content: space-between;
}
.item {
    flex-basis: 45%;
    height: 20px;

}

.flex-1 {
    order:3 ;

}

.flex-2 {
    order: 2;

}

.flex-3 {
    order: 1;
}

.flex-4 {
    order: 4;

}

.flex-5 {
    order: 5;
}