div {
    padding: 5px;
    border: 2px solid black;
    margin: 5px;
}
.flex-container {
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: space-around;


}

.flex-1 {
    align-self: flex-start;
}

.flex-2, .flex-4  {
    align-self: center;
}

.flex-5 {
    align-self: flex-end;
}