@import "nav.css";
@import "footer.css";

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}


.header {
    width: 100%;
    height: 950px;
    background-size: cover;
    background-image: url("https://million-wallpapers.ru/wallpapers/5/97/396280683493772.jpg");
}

.over {
    position: absolute;
    background-color: dimgray;
    opacity: 0.5;
    min-width: 100%;
    height: 950px;
}

.header-info {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 40%;
    color: white;
}

.header a {
    margin-top: 5%;
    border: 1px solid white;
    width: 10%;
    color: black;
    background-color: white;
    text-transform: uppercase;
}

.header a:hover {
    color: white;
    background-color: #11ffee00;
}

.most-popular {
    width: 100%;
    height: 950px;
    margin-top: 5%;
}

.cards {
    max-width: 100%;
    width: 49%;
    margin: 0 auto;
}

.card {
    display: inline-block;
    width: 100%;
    margin-top: 10%;
    margin-left: 1.5%;

}

.card a {
    background-color: black;
    border: 0;
}

.card a:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.card img {
    height: 17em;
}

.most-popular h3, .description {
    text-align: center;
}

.cards h3 a {
    color: black;
}

@media (max-width: 320px) {
    body {
        width: 100%;
        margin-right: 0;
    }

    .header {
        margin: 0 auto;
        height: 568px;
        background-size: cover;
    }

    .header a {
        width: 40%;
        margin: 0 auto;
    }

    .over {
        height: 568px;
    }


    .most-popular {
        width: 100%;
        height: 1800px;
    }

    .cards {
        width: 100%;
        height: 100%;
    }
}